{% extends 'base.html' %}
{% block content %}
{% include 'includes/alerts.html' %}

 {% comment %} ===============Table=========== {% endcomment %}

          
          <div class="row mx-auto">
            <div class="col-lg-10 offset-lg-1"> 
              <div class="card mx-auto rounded">
                <div class="card-body">
                  <h2 class="text-center">Items In Store</h2>
                  <div class="table-responsive">
                        <table class="table table-striped table-sm">
                          <thead class="bg-dark text-white">
                            <tr class="bg-primary rounded">
                              <th>S.No</th>
                              <th>Procuct Name</th>
                              <th>Product Category</th>
                              <th>Quatity Remained</th>
                              <th>Last Updated</th>
                              <th>Vendor Name</th>
                              <th>View Product</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if products %}
                              {%for product in products %}
                                <tr>
                                  <td>{{product.id}}</td>
                                  <td>{{product.Product_Name}}</td>
                                  <td>{{product.Product_Category.Category_Name}}</td>
                                  <td>{{product.Product_Quantity}}</td>
                                  <td>{{product.Created_Date}}</td>
                                  <td>{{product.Created_by}}</td>
                                  <td><a href="#" class="btn btn-primary">View</a></td>
                                  {% comment %} <td><a href="#" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td> {% endcomment %}
                                </tr>
                              {% endfor %}
                            {% else %}
                                <tr class="text-center">
                                  <td class="text-center">
                                      No Items Available
                                  </td>
                                </tr>                    
                            {% endif %}                          
                          </tbody>                          
                        </table>          
                      </div>
                </div>
              </div>
             </div> 
          </div>
{% endblock %}