{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2>Update Your Order</h2></h5>
                    <p class="card-text">
                        <form action="{% url 'editorder' pk %}" method="post">
                            {% csrf_token %}
                            
                            {{ form | crispy}}
                            
                            <button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </form>
                    </p>          
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}
