{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
    {% include 'includes/alerts.html' %}
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2>Edit Your Profile</h2></h5>
                    <div class="text-center">
                        <img src="{{user.profile.profile_pic.url}}" class="img-thumbnail mx-auto" alt="proile-pic" style="height:150px;width:150px;">
                    </div>
                    <p class="card-text">
                        <form action="{% url 'editProfile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy}}
                            
                            <button class="btn btn-primary btn-block" type="submit">Save</button>
                        </form>
                    </p>          
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}